@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@model AppUser

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <h1>Welcome @User.Identity.Name!</h1>
    </div>
    <br />
    <br />
    <div class="container">
        <h2>Nutrition Info</h2>
        <br/>
        <div class="text-center">
            <h2>Explore Food</h2>
            <p>Category</p>
            <p>Super Power</p>
        </div>
        <br />
        <h2>My Favorite Foods</h2>        
        <br/>
        <h2></h2>
    </div>


}






